html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}



.visible-block-gold {
    border: 10pt solid gold;
}
#heading {
    background: #f51 url('images/dried_leaf.svg') center center / auto auto no-repeat;
}
#heading h1 {
    margin: 0 .25em;
    text-align: center;
    font-size: 6em;
    color: rgba(0, 0, 0, .8);
    font-family: "Times New Roman", serif; /*Change font later */
}

#content {
    display: flex;
    flex-wrap: wrap;
    background: #222
}
#tags {
    display: flex;
    padding: 1pt;
    background: #fff;
    font-size: 1.2em;
}
#tags {
    flex-grow: 1;
}
#listing {
    flex-basis: 50%;
    flex-grow: 16;
}

section {
    border: 7pt solid silver;
}

.unmarked-list {
    padding: 2pt;
    list-style: none;
}

.blocky-list > li {
    border: 5pt solid red;
}

.summary {
    background: #ddf
}

#summary {
    display: flex;
    flex-wrap: wrap;
}
#summary iframe {
    max-width: 100vmin;
}

p.summary {
    padding: 10pt;
}

h2.Summary { 
    padding-left: 20pt;
}
#games > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#games > ul > li{
    margin: 2pt;
}
#games > ul > li > a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
    background: #ddf;
}
#games > ul > li > a > img {
    width: 160px;
    height: 90px;
    max-width: 100vmin;
}
#games > ul > li > a > span {
    width: 16em;
}
#games .title {
    display: block;
    font-size: larger;
    font-weight: bold;
    font-variant: small-caps;
}